.container {
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.img {
  
  width: 400px;
  height: 400px;
  object-fit: contain;
  animation : move 3s infinite ease alternate;
}
@keyframes move {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0px) scale(1.03);
  }
}

.about{
    background: linear-gradient(to right, #0099f7, #f11712);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
     font-size: 600;
}

.underlined {

    width: 100%;
    height: 2px; 
    background-color: #000000;
  }
  
  .content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
    background: linear-gradient(to right, #000000, #0f9b0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .orderedList {
    list-style-type: decimal; 
    padding-left: 30px; 
    margin-top: 10px; 
  }
  
  .orderedList li {
    margin-bottom: 5px;
  }

  .clients{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .img1{
    margin-top: 6rem;
    width: 400px;
    height: 400px;
  }

  .text{
    margin-left: 9rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }