.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 48px;
  background: linear-gradient(to bottom, #194c33, #9e0a0a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img {
  width: 100%;
  height: 400px;
  object-fit: contain;
   animation: move 3s infinite ease alternate; 
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}


.desc {
  font-size: 16px;
  font-weight: 150;
  color: black;
}